@tailwind base;
@tailwind components;
@tailwind utilities;




/* Autofill background fix */
@layer utilities {
  input:-webkit-autofill,
  textarea:-webkit-autofill {
    @apply bg-gray-300 text-white;
    -webkit-box-shadow: 0 0 0px 1000px bg-zinc-800 inset !important;
    -webkit-text-fill-color: white !important;
    transition: background-color 9999s ease-in-out 0s;
}
}